.container {rgba (0, 0, 0, 0.9); position : relative;  max-width : 1000px;   /*   maximum width  */
 margin : 0 auto;  /* center it */ }
.link{ color : "white";}
.container   .content  { position : absolute;    /* position the background text */ 
top : 0 ; /*at the buttom. use top : 0 to append it to the top */
background : rgba (0, 0, 0); /* fallback color */ 
background : rgba (0, 0, 0, 1); /* black background with 0.5 opacity */
color : black; /*blue text */
width: 100%; /* full width */
padding : ; /*some padding */ }

 { -webkit-filter : blur (5px) ;  filter: blur(2px);}


body{color : blue;}
table{width:100%;   align:center;}

